{% extends "base.html" %}
{% block content %}

{% if message != "" %}
<div class="alert alert-error">
  <h1>{{ message }}</h1>
</div>
{% endif %}

{% if message == "" %}
<div class = "row">
<div class = "span12 offset1">
<h1>{{ full_name }}'s Personal Info</h1>
<div class="span8 offset1">


<br><h2><b>Full Name:</b><br></h2> &emsp;&emsp;{{ full_name }} <br>
<h4>Music: </h4> &emsp; &emsp;{{ music }} <br>
<h4>Movie: </h4> &emsp;&emsp;{{ movie }} <br>
<h4>Food: </h4> &emsp;&emsp;{{ food }} <br>
<h4>Poem: </h4> &emsp;&emsp;{{ poem }} <br>
<h4>Quote: </h4> &emsp;&emsp;{{ quote }} <br>
<h4>Book: </h4> &emsp;&emsp;{{ book }}
</div>
</div>
</div>
{% endif %}
{% endblock %}